.swiper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__slide {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
