.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  @apply bg-custom-orange;

  &__logo {
    width: clamp(100px, 46.727999999999994vw, 400px);
    height: clamp(100px, 46.727999999999994vw, 400px);
  }

  &__text {
    color: white;
    font-size: clamp(10px, 4.6728vw, 40px);
    font-family: Noto Sans;
  }
}
