.card {
  position: relative;
  width: 90%;
  padding: clamp(10px, 4.6728vw, 40px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  transition: 0.3s;
  margin: auto;
  @apply bg-gray-50;
  @apply shadow-lg;

  &__image {
    width: 100%;
    height: clamp(140px, 65.41919999999999vw, 560px);
  }

  &__text {
    font-size: clamp(12.5px, 5.840999999999999vw, 50px);
    font-weight: 500;
    font-family: "Noto Sans", sans-serif;
    @apply text-center;
    @apply text-custom-black;
    transition: 0.3s;
  }

  &:hover {
    @apply shadow-xl;
    @apply bg-slate-100;
  }
}
