.button {
  width: clamp(160px, 74.7648vw, 640px);
  height: clamp(27px, 12.61656vw, 108px);
  color: #fff;
  font-family: Noto Sans;
  border-radius: clamp(1px, 0.46728vw, 4px);
  font-size: clamp(8.5px, 3.9718799999999996vw, 34px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: 0.3s all;
}

.filled {
  @extend .button;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  @apply text-custom-white;
  @apply bg-custom-orange;
  &:hover {
    background: #e5800c;
  }
}

.outline {
  @extend .button;
  color: white;
  border: 1px solid white;
  @apply text-custom-white;
  &:hover {
    @apply text-custom-orange;
    background: white;
  }
}
