.menu {
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  z-index: 10;
  //   background-image: url("../../assets/images/bg_image.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;

  &__links {
    @apply pr-8;
    &__link {
      font-family: Noto Sans;
      font-weight: 700;
      font-size: clamp(16px, 7.47648vw, 64px);
      transition: 0.3s all;
      @apply text-custom-orange;
      &:hover {
        color: #d4760b;
      }
    }

    &__sub-link {
      font-weight: 400;
      font-size: clamp(9px, 4.20552vw, 36px);
      @apply text-custom-black;
    }
  }

  &__contact {
    font-family: Noto Sans;
    font-size: clamp(10px, 4.6728vw, 40px);
    background: linear-gradient(180deg, #fcbf20, #e55b12);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    @apply pr-8;
  }
}
