.input {
  width: 80%;
  height: clamp(27.5px, 12.8502vw, 110px);
  text-align: center;
  font-family: Noto Sans;
  font-size: clamp(8px, 3.73824vw, 32px);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border: 2px solid;
  border-radius: 3px;
  outline: none;
  background: transparent;
    --tw-ring-offset-color: transparent
  --tw-ring-color: transparent
  --tw-ring-offset-shadow: transparent
  @apply text-custom-black;
  @apply border-custom-black;
  transition: 0.3s all;

  &::placeholder {
    @apply text-custom-black;
  }

  &:focus{
    color: white;
    border: 2px solid white
  }

}

input[type="range"]::-moz-focus-outer {
  border: 0;
  --tw-ring-offset-color: none
  --tw-ring-color: none`
  --tw-ring-offset-shadow: none
}
