.swiper-pagination {
  @apply mt-40;
}

.swiper-pagination-bullet-active {
  @apply bg-custom-orange;
}

.swiper {
  display: flex !important;
}

.swiper-pc {
  display: none !important;
}

@media screen and (min-width: 1024px) {
  .swiper {
    display: none !important;
  }

  .swiper-pc {
    width: 75% !important;
    display: flex !important;
  }
}
