.header {
  width: 90% !important;
  margin: auto;
  margin-top: clamp(16px, 7.47648vw, 64px);
}

.header-pc {
  display: none !important;
}

@media screen and (min-width: 1024px) {
  .header {
    display: none !important;
  }

  .header-pc {
    width: 86.6%;
    display: flex !important;
    margin: auto;
    @apply mt-16;
  }
}
